IbLoginId=andresco2024
IbPassword=1nt3r4ct1v3+2024

TradingMode=paper
ReadOnlyApi=no
AcceptNonBrokerageAccountWarning=yes
DismissNSEComplianceNotice=yes
DismissPasswordExpiryWarning=yes

OverrideTwsApiPort=4002
AutoRestartTime=11:59 PM
ReloginAfterSecondFactorAuthenticationTimeout=yes

LoginDialogDisplayTimeout=60
SecondFactorAuthenticationTimeout=180
ExitAfterSecondFactorAuthenticationTimeout=no

# Trusted IPs (opcional, sólo localhost)
TrustedTwsApiClientIPs=0.0.0.0

# Opcional: desactivar mensajes adicionales
SuppressInfoMessages=yes

DismissWarning=true
DismissPaperTradingWarning=true