[IBGateway]
WriteDebug=false
TrustedIPs=127.0.0.1
RemoteHostOrderRouting=ndc1.ibllc.com
MainWindow.Height=550
RemotePortOrderRouting=4001
LocalServerPort=4000
ApiOnly=true
MainWindow.Width=700

[Logon]
useRemoteSettings=false
UserNameToDirectory=fpdkaooepcopabeokebjgnigmhecgcpjliinplek,aopjnlnajeeeogakjkoknkamcoopmlcmjbkedjpe
TimeZone=America/Bogota
tradingMode=p
colorPalletName=dark
Steps=3
Locale=en
os_titlebar=false
SupportsSSL=ndc1.ibllc.com:4000,true,20250507,false;cdc1.ibllc.com:4000,true,20250520,false
UseSSL=true
screenHeight=982
s3store=true
ibkrBranding=pro

[Communication]
Peer=cdc1.ibllc.com:4001
Region=us